@media (max-width: 768px) {
    .second-phon {
        display: none;
    }
}

.featured-section {

    @media (min-width: 991px) and (max-width: 1200px) {
        .text-h2 {
            font-size: 2.5rem !important;
        }
    }
        @media (min-width: 1200px) and (max-width: 1400px) {
        .text-h2 {
            font-size: 2.7rem !important;
        }
    }

}