.hero-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 85vh;
    object-fit: cover;
    z-index: -1;
}

.head-1 {
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
}

.hero-section {
    @media (max-width: 991px) {
        .phon-img {
            display: none;
        }

    }



    @media (min-width: 991px) and (max-width: 1400px) {
        .text-h1 {
            font-size: 3.5rem !important;
        }

        .text-h7 {
            font-size: 1rem !important;
        }
    }


    @media (min-width: 991px) and (max-width: 1200px) {
        .phon-img {
            min-height: 90%;
            min-width: 90%;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .green-slide {
            margin-top: 25px !important;
        }
    }


    @media (min-width: 576px) and (max-width: 768px) {
        .green-slide {
            margin-top: 100px !important;
        }


    }

    @media (max-width: 576px) {
        .green-slide {
            margin-top: 160px !important;
        }

        .text-h1 {
            padding-top: 30px !important;
            font-size: 2.5rem !important;
        }

        .text-h7 {
            padding-top: 30px !important;
            font-size: 0.8rem !important;
        }
        .campi-3,
        .campi-4,
        .campi-5,
        .campi-6 {
            display: none;
        }

    }
}














// .hero-section {


// }